body{
    font-weight: 600;
    text-align: center;
}


nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background: lightcoral;
    color:white;
}

.navLink{
    text-decoration: none;
    color:antiquewhite;
}